<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GLO+ - {{title}}</title>
  <link rel="icon" href="https://cdn.glitch.com/e4d2a036-adb2-43f5-93f3-704f33cc7c0a%2Fgloplus.png?v=1581986019854">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="app">
  <div class="container">
    <div class="row content header">
      <img class="logo col" src="https://cdn.glitch.com/e4d2a036-adb2-43f5-93f3-704f33cc7c0a%2Fgloplus.png?v=1581986019854" />
      <p>Glo+</p>
    </div>
    
    <div class="row content">
      <h1 class="title">
         {{title}}
      </h1>
    </div>
    
    <div class="row content">
      <h2 class="date">
        {{date}} {{time}}
      </h2>
    </div>
    
    <div class="row image">
      <img class="thumb" src="{{thumb}}" alt="Imagem do programa">
      <div class="caption">
        <p class="subtitle">{{description}}</p>
      </div>
    </div>
    
    <div class="row content">
      <a href="https://github.com/bacamartetech/gloplus-api/raw/master/assets/gloplus.apk" class="btn-download btn btn-primary btn-sm">
          <p class="col">Baixe o Glo+ agora!</p>
      </a>
    </div>
  </div>
</body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  html, body, #app {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
  }
  
  #app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background: linear-gradient(180deg, #9BCBC9 0%, rgba(255, 255, 255, 0) 100%), rgba(35, 37, 38, 0.9);
  }
  
  .header p {
    color: rgba(238, 238, 238, 0.95);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 42px;
    margin-left: 12px;
    margin-bottom: 38px;
  }
    
  img.thumb {
    -webkit-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.15);
    box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.15);

    margin: 25px auto;
    border-radius: 4px;
    width: 100%;
    max-width: 620px;
  }

  .content {
    justify-content: center;
  }

  .title {
    color: rgba(238, 238, 238, 0.95);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
/*     margin-left: 20px; */
    text-align: center;
  }

  .subtitle {
    color: rgba(238, 238, 238, 0.95);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
  }

  .date {
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.95);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .caption {
    justify-content: center;
    max-width: 620px;
    margin: 8px auto;
  }

  .logo {
    padding: 0;
    max-height: 64px;
    max-width: 64px;
  }
  
  .image {
    margin-bottom: 26px;
  }

  .btn-download {
    width: 100%;
    max-width: 320px;
    border: 0;
    background: rgba(0, 157, 219, 0.85) !important;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
    box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.15);
  }

  .btn-download:hover {
    background: rgba(0, 157, 219, 1);
  }

  .btn-download p {
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.95);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 16px 0 0 16px;
  }
</style>
